.footer {
  display: grid;
  /* justify-content: space-between;
  align-items: flex-start; */
  grid-template-columns: 2fr 4fr 3fr;
  column-gap: 4rem;
  background-color: var(--primary-color-tint);
  height: auto;
  padding: 2rem 6rem;
}

.logo {
  display: flex;
  flex-direction: column;
}

.copyright {
  font-size: 1.2rem;
  font-family: inherit;
  color: var(--primary-dark-color);
  margin-top: 1.6rem;
}

.contact-col {
  margin-left: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

@media (max-width: 800px) {
  .footer {
    padding: 1.5rem 3rem;
    column-gap: 2rem;
  }

  .contact-col, .ebay-col {
    margin-top: 5rem;
  }

  .contacts {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .footer-heading {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    height: auto;
    padding: 1rem 2rem;
  }

  .logo {
    grid-row: 2;
    grid-column: span 2;
    text-align: center;
  }

  .contact-col, .ebay-col {
    margin-top: 2rem;
  }

  .contact-col {
    margin-left: 0;
  }
}
