.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.logo-title {
  font-size: 2rem;
  font-family: 'Macondo', cursive;
  font-weight: 400;
  color: var(--primary-color);
}